<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My document</title>

<%= stylesheet_link_tag 'application', :cache => true %>
<%= javascript_include_tag :all, :cache => true %>
</head>
<body>

<%= link_to "users index", users_index_path %>


   
	
</body>
</html>

