<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document1</title>
	<style type="text/css">

		#nav ul li{

			display: inline-block;
			list-style-type: none;
		}

	</style>
</head>
<body>
	

	<h1>First Sinatra Project</h1>

	<div id="nav">
		
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">blog</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>


	<% 10.downto(1) do |num| %>
	<p><%= num %></p>
	<% end %>
	<p>Blastoff!!!</p>
</body>
</html>