<!-- DIVIDER LINE -->
<svg class="topline" height="2" width="2000">
  <line x1="20" y1="0" x2="1500" y2="0" style="stroke: black;stroke-width:2"></line>
</svg>

<!-- OPENING QUOTE -->
<div class="quote">"Nothing in all the world is more dangerous than sincere ignorance and conscientious stupidity."
	<br> -Martin Luther King</div>
<!-- CLOSING QUOTE -->

<!-- Opening container 1 -->
	<h2>Contact us</h2>
	
	<form action="/contact" method="POST">
		
		<label for="fname">Enter your name</label>
		<input type="text" name="fname"><br>

		<label for="email">Enter your email</label>
		<input type="text" name="email"><br>

		<label for="comments">Enter your message </label>

		<textarea type="text" name="Comments"></textarea><br>

		<input type="submit">
		
	</form>
