

<!-- DIVIDER LINE -->
<svg class="topline" height="2" width="2000">
  <line x1="20" y1="0" x2="1500" y2="0" style="stroke: black;stroke-width:2"></line>
</svg>

<!-- OPENING QUOTE -->
<div class="quote">"Nothing in all the world is more dangerous than sincere ignorance and conscientious stupidity."
	<br> -Martin Luther King</div>
<!-- CLOSING QUOTE -->

<!-- Opening container 1 -->
<div class="row1">	
	<!-- opening column 1 -->
	<div class="col">
		<div class="articles">
			<div>
				<h2 class="arth2">Chile's Lagos criticizes Venezuela's Maduro</h2>
					<footer class="artfoot">Written by the cool developers</footer>
					<p>SANTIAGO, Chile (AP) — Former Chilean President Ricardo Lagos is joining more than two dozen other ex-leaders in urging greater respect for human rights in Venezuela.

Lagos complained Monday that Venezuela's President Nicolas Maduro hasn't even allowed the International Red Cross to visit jailed opposition leaders. He says that even Gen. Augusto Pinochet "allowed the Red Cross into Chile," during his 1973-1990 dictatorship.

"When you see someone who has been held for a year in extremely harsh conditions, or when 100 people, mostly hooded, kidnap a mayor and he ends up jailed without any court order, or when the United Nations says that there are more than 80 political prisoners, then obviously human rights are being violated," Lagos said after meeting with the wives of jailed Venezuelan opposition leaders Leopoldo Lopez and Antonio Ledezma.

At least 25 other ex-leaders from Spain and Latin America recently signed a declaration decrying "political persecution of opponents" in Venezuela.

"The severe democratic, economic and institutional crisis affecting Venezuela and all Venezuelans only allows for negotiated solutions," says the declaration signed by former leaders, including Spain's Jose Maria Aznar and Felipe Gonzalez, Mexico's Felipe Calderon and Vicente Fox and Costa Rica's Oscar Arias.

The head of Red Cross operations for the Americas said last week that the agency lost access to Venezuelan prisons in 2013. Patricia Danzi says it's "doing everything possible to regain access."</p>
			</div>
			<div>
				<h2 class="arth2">Stark differences as Obama and Maduro head for Panama encounter</h2>
					<footer class="artfoot">Written by the cool developers</footer>
				<p>Barack Obama acknowledged the US could no longer “meddle with impunity” in the affairs of its Latin American neighbours, as he and his Venezuelan counterpart, Nicolás Maduro, provided two starkly contrasting views of the US role in region.

As the two antagonistic presidents prepared to meet face to face at the Summit of the Americas, they used preliminary events on Friday in the host nation, Panama, to project their differing perspectives.

Maduro laid a wreath for the civilian victims of the US invasion of Panama in 1989 and looked back at Washington’s long history of “imperialist interference” that he said continued to this day.

Obama, meanwhile, said his government had learned the lessons of the past and would respect national differences even as it worked to promote civil society worldwide. At a civil society forum he told participants from NGOs that he had made it a mission of his government to empower them with knowledge, technology and resources.

Quoting Martin Luther King, Obama said the experience of the civil rights movement in his country had shown the importance of citizens’ actions in bending the arc of the moral universe towards justice.

“The only reason I stand here today as president of the US is because those ordinary people – maids, and janitors, and schoolteachers – were willing to endure hardship on my behalf.”

He cited the case of the anti-apartheid movement in South Africa, the Polish Solidarity campaign against the Soviet Union and the efforts of the mothers of the disappeared to speak out against a “dirty war”, before raising the importance of engaging with the people as well as the government of Cuba, as Washington and Havana move to improve ties. This, he said, was part of a broader policy.


“So let me just say, when the US sees space closing for civil society, we will work to open it. When efforts are made to wall you off from the world, we’ll try to connect you with each other. When you are silenced, we’ll try to speak out alongside you. And when you’re suppressed, we want to help strengthen you,” he said.

He denied that this represented interference. “The days in which our agenda in this hemisphere so often presumed that the US could meddle with impunity, those days are over,” he said to cheers.

Not everyone at the forum, however, sees things the same way. There have been scuffles and shouting matches between pro- and anti-government activists from Cuba and Venezuela, which says the US is now using NGOs as mercenaries to push its agenda.

Maduro’s choice of the El Chorrillo neighbourhood as a first stop on his car ride from the airport to the summit venue was anything but subtle, but it highlighted the historical reasons for regional suspicion of its powerful northern neighbour.

This impoverished district of high-rise blocks was the scene of some of the heaviest fighting during the US invasion, which secured the Panama canal until the nation’s leader Manuel Noriega – who had fallen out of favour with Washington – was replaced.

Many homes were destroyed and hundreds of civilians were killed in the brief but violent conflict, which the US codenamed Operation Just Cause. Twenty-three US soldiers also died in the attack, which was condemned by Human Rights Watch as a disproportionate use of force.

As Maduro walked to the monument, crowds of several hundred people waving the flags of Panama, Venezuela and the red banners of revolutionary movements, sang “Yankee Go Home”. After a minutes’ silence, speakers at the ceremony put the attacks in the historical context of US support for rightwing dictators in the 1970s and 1980s, recent spying revelations and interference dating back to the 1823 Monroe doctrine, which justified intervention in the region.

“Never again a US invasion in Latin America,” Maduro said to the cheering crowd, calling the 1989 invasion an “unforgivable attack on the people of Panama”. He said the US was continuing its policy of interference with the recent executive order of sanctions against Venezuela which declares the country a threat to national security.

US officials say the sanctions are largely symbolic as they only target seven officials accused of human rights abuses. The provocative wording, they say, is merely routine. To ease tensions, the US spokesman has gone on record to declare it does not consider Venezuela a threat.

Maduro and Obama have no scheduled bilateral meeting at the summit, but they were both due to attend an inaugural dinner on Friday evening and join a photograph of participants on Saturday. Having been isolated at previous regional summits, Obama is hoping that his recent deal with Cuba’s president, Raúl Castro, to normalise relations will help the US to be seen in a more friendly light by neighbouring countries.

But feelings are mixed in Latin America towards the US, which is seen as both a source of economic opportunity, political manipulation and a force in people’s lives that is not just beyond their control, but their imagination.

At El Chorrillo, while most of the bystanders were activists from Venezuela, Panama and neighbouring nations, local residents also gathered at their windows to watch the spectacle.

Mother of two Berta Skiner was old enough to remember the invasion. “It was terrible,” she recalls. “People were killed but we didn’t know why we were being attacked.”</p>
			</div>
		</div> <!-- Closing article -->
	</div> <!-- Closing column 1 -->	
	 
	<!-- opening column 2 -->
		<div class="col">
			<div>
				<h2 class="arth2">Democracy behind bars: 11 opposition leaders facing jail or death</h2>
				<footer class="artfoot">Written by the cool developers</footer>
					<p>“Our arguments – and those of hundreds more Venezuelans suffering the same injustice – are clear and forceful: political disqualification violates laws.”

Founder of the opposition Popular Will party, Leopoldo López was arrested on 18 February 2014 after calling for citizens to protest the government of President Nicolas Maduro, whose leadership has seen Venezuela pushed into the top 10 countries in the world for corruption and homicide. Charges of murder and terrorism were later downgraded to arson, damage and inciting violence, for which he is still on trial.</p>
			</div>
			<div>
				<h2 class="arth2">Venezuela advert in US press demands Obama rescind 'national security threat'</h2>
				<footer class="artfoot">Written by the cool developers</footer>
					<p>Venezuela’s foreign ministry has demanded President Obama retract an executive order declaring the South American state a threat to US national security in a combative full-page advert published in the New York Times.

The advertisement – published under the title: “Letter to the people of the United States: Venezuela is not a threat” – also demands the cancellation of sanctions against seven senior law enforcement and military officials, accused by the US of corruption and human rights violations.

The order, issued last week, blocks the seven individuals – including Venezuela’s head of intelligence and a senior prosecutor – from entering the US, freezes their assets in the country, and prohibits US citizens from engaging in business with them.

The advert, published on Tuesday, frames the sanctions as an attack on Venezuela’s sovereignty.

“Never before in the history of our nations, has a president of the United States attempted to govern Venezuelans by decree,” the letter argues. “It is a tyrannical and imperial order and it pushes us back to the darkest days of the relationship between the United States and Latin American and the Caribbean.”

Venezuela’s president, Nicolás Maduro, seized on the order to call for emergency powers, which the Venezuelan national assembly, controlled by Maduro’s United Socialist party, passed on Sunday. The “Anti-Imperialist Law for Peace”, passed after a debate lasting about two hours, allows Maduro to rule by decree. It remains unclear how the president plans to use the new powers.


Venezuela clamps down further on dissent amid deepening economic woes

Maduro’s popularity rating has plummeted in recent months to about 22% as inflation in Venezuela soars to over 60% and the price of oil – of which the US is a key export market – sinks to a five-year low.

David Smilde a senior fellow at the Washington Office on Latin America said the New York Times advert was arguably designed to serve Maduro’s domestic political cause rather than his international relations.


“This is what Maduro spends all his time talking about – that there’s economic war [with the US], that there’s an effort to try to undermine Venezuela, to sabotage it. Now this declaration of a national security threat fits perfectly with that narrative and provides it with substance,” Smilde said.

“The more Maduro can keep attention on this, the better opportunity for him. So it [the letter] doesn’t surprise me. I think it is probably more written to the Venezuelan people than to Americans.”

The seven officials named in the sanctions are alleged to have orchestrated the harsh crackdowns against anti-government protests last year and the arrest of a number of opposition politicians. Anti-government protests and arrests of politicians have continued into 2015.

The timing of the White House sanctions has been interpreted as a way of exerting influence on the National Assembly elections later in the year. No date has been set for the vote and it is unclear if Maduro’s newly acquired powers will bear any influence on the timing.

Dr Gregory Weeks, an expert in Venezuelan politics and chair of the department of political science and public administration at the University of North Carolina in Charlotte, said the sanctions would now make it harder for other leaders in the region to lobby for clean elections.

“I tend to think that the US acting unilaterally is going to make it even harder for Latin American presidents to speak out against Maduro because they don’t want to be seen as simply doing what the US wants,” Weeks said. “I would have gone for more quiet diplomacy with Latin American leaders and not become a sort of lightning rod with this very public decision and the inflammatory language attached to it.”

The Union of South American Nations, a regional intergovernmental body, has condemned Obama’s executive order.</p>
			</div>
		</div>
	<!-- closing column 2 -->
	</div>

<!-- closing container 1 -->

<!-- right menu -->
