<!DOCTYPE html>
<html>
<head>
	<title>Venezuela</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" href="/style/style.css" media="screen and (max-width:2000px)">
	<link rel="stylesheet" href="/style/style2.css" media="screen and (max-width:940px)">
	<link rel="stylesheet" href="/style/style3.css" media="screen and (max-width: 640px">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/javascript/scripts.js" ></script>
	
</head>

<body>
<h1 class="mainheader">Venezuela</h1>

<a class="toggle-nav" href="#">&#9776;</a>
		
		<!-- OPENING TOP NAVIGATION -->
		<div class="nav">
			<ul>
				<li><a class="a" href="/">Home</a></li>
				<li><a class="a" href="/vanenews">News</a></li>
				<li><a class="a" href="/support">Support</a></li>   <!-- changed "#" to support -->
				<li id="am"><a class="a" href="/multimedia">Multimedia</a>
					<ul class="mediali">
						<li><a href="/multimedia">Videos</a></li>
						<li><a href="/multimedia">Photos</a></li>
					</ul>
				</li>
				<li><a class="a" href="#">About Us</a></li>
				<li><a class="a" href="/contact">Contact</a></li>
			</ul>
		</div>
		<!-- CLOSING TOP NAVIGATION -->

<!-- DIVIDER LINE -->
<svg class="topline" height="2" width="2000">
  <line x1="20" y1="0" x2="1500" y2="0" style="stroke: black;stroke-width:2"></line>
</svg>
<%= yield %>

<div class="socialmediabuttons">
	
	<div class="facebookbutton">
		<img class="facebook" src="images/facebook.png">
	</div>

	<div class="twitterbutton">
		<img class="twitter" src="images/twitter.png">
	</div>

	<div class="instagrambutton">
		<img class="instagram" src="images/instagram.png">
	</div>
</div>
<svg class="bottomline" height="10" width="2000">
  <line x1="20" y1="0" x2="1500" y2="0" style="stroke: black;stroke-width:2" />
 
</svg>


<footer class="footer">Here goes social media</footer>
</body>

</html>