<!-- DIVIDER LINE -->
<svg class="topline" height="2" width="2000">
  <line x1="20" y1="0" x2="1500" y2="0" style="stroke: black;stroke-width:2"></line>
</svg>

<!-- OPENING QUOTE -->
<div class="quote">"Nothing in all the world is more dangerous than sincere ignorance and conscientious stupidity."
	<br> -Martin Luther King</div>
<!-- CLOSING QUOTE -->

<!-- Opening container 1 -->
<div class="mrow1">	
	<!-- This page will be made by panels -->

	<div class="menupanels">
		<ul class="menu">
			<li rel="videospanel" class="active">VIDEOS</li>
			<li rel="photospanel">PHOTOS</li>
		</ul>
		
		<div class="panels">
			<div id="videospanel" class="panel active">
				
				<div class="vidcol1">
					
					<iframe width="300" height="280" src="https://www.youtube.com/embed/5oRl_EIM-IU" frameborder="0" allowfullscreen></iframe>
					<iframe width="300" height="280" src="https://www.youtube.com/embed/O80SWMNQ7GU" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="vidcol2">
					<iframe width="300" height="280" src="https://www.youtube.com/embed/OrfM5UD-Azk" frameborder="0" allowfullscreen></iframe>
					
				</div>
				<div class="vidcol3">
					<iframe width="300" height="280" src="https://www.youtube.com/embed/PwQcVx9-bpw" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>	
			<!-- IAN WORKING ON THIS PANEL -->
			<div id="photospanel" class="panel">
					<div class="photocol1">
					
					<img width="300" height="280" src="Images\vane1.jpg" frameborder="0" allowfullscreen></img>
					
					<img width="300" height="280" src="Images\vane2.jpg" frameborder="0" allowfullscreen></img>
				</div>
				<div class="photocol2">
					<img width="300" height="280" src="Images\vane3.jpg" frameborder="0" allowfullscreen></img>
					
					<img width="300" height="280" src="images\vane4.jpg" frameborder="0" allowfullscreen></img>
				</div>
					<div class="photocol3">
					<img width="300" height="280" src="images\vane5.jpg" frameborder="0" allowfullscreen></img>

					<img width="300" height="280" src="Images\vane6.jpg" frameborder="0" allowfullscreen></img>
				</div>
	</div>
</div>

<!-- closing container 1 -->
